








body {
    background-image: url('gambar8.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    color: #fff; 
}

}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.7);
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #444;
}


a {
    color: #d9534f; 
    font-weight: bold; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}


